.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.close {
  background-color: transparent;
  align-self: flex-end;
}

.cartButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
}
